<div class="row">
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My Routines</h5>
        <p class="card-text">Your favorite workouts.</p>
        <a href="routines" class="btn btn-primary">Get Pumped!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Progress</h5>
        <p class="card-text">State of the gains.</p>
        <a href="progress" class="btn btn-primary">Get Pumped!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Workout Search</h5>
        <p class="card-text">Try something new?</p>
        <a href="workouts" class="btn btn-primary">Get Pumped!</a>
      </div>
    </div>
  </div>
</div>
