<h2>workouts</h2>

<form class="form workout-form">
  <div class="form-group">
    <label for="workouts">workout</label>
    <input class="form-input" type="text" id="workout-search" />
  </div>
  
  <div class="form-group">
    <button class="workout btn btn-primary" id="searchWorkout" type="submit">search</button>
  </div>
</form>

<script src="/js/workout.js"></script>