<nav>
  <a href="/" class="btn btn-primary">Home</a>
  <a href="routines" class="btn btn-primary">Routines</a>
  <a href="progress" class="btn btn-primary">Progress</a>
  <a href="workouts" class="btn btn-primary">Workouts</a>
</nav>
<br>
<br>
<h2>Search for workouts by muscle group!</h2>
<button id="addRoutine" class="addbtn">add to routine</button>
<form class="form workout-form">
  <div class="form-group">
    <label for="workouts">abdominals |
      abductors |
      adductors |
      biceps |
      calves |
      chest |
      forearms |
      glutes |
      hamstrings |
      lats |
      lower_back |
      middle_back |
      neck |
      quadriceps |
      traps |
      triceps</label>
    <input class="form-input" type="text" id="workout-search" />
  </div>

  <div class="form-group">
    <button class="workout btn btn-primary" id="searchWorkout" type="submit">search</button>
  </div>
  <div id="workout-results"></div>
  <div id="instructions"></div>

</form>

<script src="/js/workout.js"></script>