<h2>Search for workouts by muscle group!</h2>

<form class="form workout-form">
  <div class="form-group">
    <label for="workouts">abdominals |
abductors |
adductors |
biceps |
calves |
chest |
forearms |
glutes |
hamstrings |
lats |
lower_back |
middle_back |
neck |
quadriceps |
traps |
triceps</label>
    <input class="form-input" type="text" id="workout-search" />
  </div>
  
  <div class="form-group">
    <button class="workout btn btn-primary" id="searchWorkout" type="submit">search</button>
  </div>
  <div id="workout-results"></div>
  <div id="instructions"></div>

</form>

<script src="/js/workout.js"></script>